@import "../../shared/theme.scss";
@import "../../shared/global.style.scss";

.main-tit-background {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-bottom: 1px solid black;
    color: white;
    width: 100vw;
    // background-image: url('../../../public/img/round.png');
        .main-tit {
            width: 1000px;
            margin: 0 auto;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 90px;
            .main-store {
                .main-store-top {
                    font-family: 'PretendardSemiBold';
                    font-size: 55px;
                    .main-store-top-icon{
                        position: relative;
                        top: 10px;
                        left: 5px;
                        opacity: 40%;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
    
                .main-store-bottom {
                    padding-top: 5px;
                    font-family: 'PretendardMedium';
                    font-style: none;
                    font-size: 14px;
                    font-weight: 100;
                    opacity: 60%;
                }
                .main-store-bottom2 {
                    word-break: initial;
                    padding-top: 35px;
                    line-height: 25px;
                    font-family: 'PretendardMedium';
                    font-style: normal;
                    font-size: 18px;
                    font-weight: 100;
                }
            }
    
            .main-percent {
                font-family: 'PretendardSemiBold';
                font-style: normal;
                padding: 10px;
                .main-percent-top {
                    font-size: 70px;
                    font-weight: 500;
                    .percent-front-num{
                        position: relative;
                        bottom: 25px;
                    }
                    .precent-slash{
                    }
                    .percent-back-num{
                        position: relative;
                        top: 25px;
                    }
                }
    
                .main-percent-bottom {
                    font-size: 25px;
                    padding-left: 23px;
                    position: relative;
                    top: 25px;
                }
            }
            .graph {
                position: absolute;
                top: 150px;
            }
        }
    }

    .ReactModalPortal .ReactModal__Overlay {
        background: transparent !important;
        width: 100vw;
    }
    .placebox-tit{
        position: relative;
        top: 150px;
        left: 380px;
    }
    

    .Modal{
        outline: none;
    }