@import '../../shared/theme.scss';
@import '../../shared/global.style.scss';
.placebox-tit {
    background-color: rgba(208, 202, 231, 0.7);
    width: 14vw;
    padding: 10px;
    border-radius: 25px;
}
.place-name-div {
    padding: 4px;
    display: inline-block;  

    .place-name{
        font-size: 13px;
        border-radius: 200px;
        color: $black;
        background-color: #C8C2E1;
        padding: 5px 12px;
        font-family: 'PretendardSemiBold';
        &:hover{
            cursor: pointer;
            background-color: #beb5e0;
        }
    }
}
