.round-background {
    background-image: url('../../../public/img/round.png');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1B1B3F;
}